BRONZE_BASE_URL=https://cycling.data.tfl.gov.uk/usage-stats
BRONZE_LISTING_URL=https://s3-eu-west-1.amazonaws.com/cycling.data.tfl.gov.uk/?list-type=2&prefix=usage-stats/
BRONZE_TARGET_MONTHS=2025-12
