POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bike_user
POSTGRES_PASSWORD=bike_pass
POSTGRES_DB=bike_elt

AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW_ALERT_EMAIL=alerts@example.com

BRONZE_BASE_URL=https://cycling.data.tfl.gov.uk/usage-stats
BRONZE_LISTING_URL=https://s3-eu-west-1.amazonaws.com/cycling.data.tfl.gov.uk/?list-type=2&prefix=usage-stats/
BRONZE_TARGET_MONTHS=2025-12
